<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>

<h1>Books</h1>

<a href="add-book.html" th:href="@{/add}">Add book</a>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}" th:object="${book}">
        <td th:text="*{id}">1</td>
        <td th:text="*{name}">John Doe</td>
        <td>
            <a href="show-book.html" th:href="@{/show/{id}(id=*{id})}">Show</a>
            <a href="update-book.html" th:href="@{/update/{id}(id=*{id})}">Edit</a>
            <a href="books.html" th:href="@{/delete/{id}(id=*{id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>